# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environment
venv/
.env

# OS / System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Raw data / temp outputs
datasets/
runs/
results/temp/

# Model weights (DO NOT TRACK)
*.pt
*.onnx
*.ckpt

# KEEP demo outputs
!results/
!results/showcase/

# Logs
*.log

# IDE
.vscode/
.idea/
